@font-face {
    font-family: 'Helvetica Now';
    src: url(src/helvetica-now-text-regular.woff2);
}

::selection {
    background-color: lightgray;
    color: black
}

body {
    margin: 0;
    display: grid;
    background-color: lightgray;
    color: gray;
    gap: 1px;
    line-height: 1.5;
    font-family: 'Helvetica Now';
    font-weight: normal;
    font-size: .9rem;
}

h1, h2, p, ol, ul {
    margin: 0;
    font-weight: inherit;
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.2rem;
}

a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gray;
    background-color: whitesmoke;
    padding: 1rem;
}
a:hover {
    color: white;
    background-color: lightgray;
}

img {
    max-height: 300px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}