body {
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

h1 {
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
}

@media (max-width: 600px) {
    body {
        grid-template-columns: none;
        grid-template-rows: repeat(6, 1fr);
    }
}